<ion-view ng-controller="HomeCtrl">
	<ion-nav-title>Home</ion-nav-title>

	<ion-content padding="true">
		<p>We currently work only with Bitcoin. In addition, we are using Bitstamp and BlinkTrade APIs for USD and BRL, respectively. Only transactions with 6 or more confirmations will be processed.</p>
		<button class="button button-block button-light" ng-click="scan()"><i class="icon ion-qr-scanner"></i> Scan QR Code</button>
		<center ng-if="qrCode"><img src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chld=L|0&chl={{qrCode}}"></center>
		<p ng-if="qrCode"><center>{{qrCode}}</center></p>

		<div class="card" ng-if="totalBTCText">
		    <div class="item item-text-wrap">{{totalBTCText}}</div>
		</div>
		<div class="card" ng-if="totalUSDText">
		    <div class="item item-text-wrap">{{totalUSDText}}</div>
		</div>
		<div class="card" ng-if="totalBRLText">
		    <div class="item item-text-wrap">{{totalBRLText}}</div>
		</div>
	</ion-content>
</ion-view>